*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #F7EED3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
}
#ptop{
    display: flex;
    color: #fff;
    padding: 0px 30%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color:#aea484 ;
}
.elem{
    
    display: flex;
    align-items: center;
    gap: 20px;
}
.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    color: #776f56;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 20px;
    background-color: #ffff;
    border-radius: 5px;
}
#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 20px;
    height: calc(100% - 100px);
    /* background-color: #000; */
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #674636;
    color: #fff;
    border-radius: 50%;
    font-weight: 500;
}
.bubble:hover{
    cursor: pointer;
    background-color: #483126;
}
/* Responsive */
@media (max-width:600px) {

    #main {
        background-color: lavender;
    }

    #panel {
        height: 95%;
        width: 95%;
    }

    #ptop {
        background-color: rgb(150, 150, 223);
        padding: 0 5%;
    }

    .elem {
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }

    .box {
        color: rgb(122, 122, 244);
        font-size: 18px;
    }

    #pbtm {
        padding: 6px;
        gap: 8px;
        overflow-y: auto;
        max-height: calc(100% - 100px);
    }

    #pbtm::-webkit-scrollbar {
        display: none;
    }

    .bubble {
        color: lavender;
        background-color: rgb(150, 150, 223);
        height: 40px;
        width: 40px;
        font-size: 14px;
    }

    .bubble:hover {
        background-color: rgb(122, 122, 244);
    }
}